* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    /* font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0080ff, #00bfff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; */
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0070f3, #00c6ff);
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
    min-width: 400px;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #0070f3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background: #005bb5;
}

a {
    display: block;
    margin-top: 20px;
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.red-text {
    color: red;
}

.incorrect-password {
    font-size: 12px;
}